<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
        <div class="container">
            <h1 class="text-center m-5">Not found !</h1>
            <img src="/img/404.png" width="600" alt="Not foud pic">
        </div>
        <%- include('partials/footer') %>
    </body>
</html>
