<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="error404">
        <h1> Page Not found :(</h1>
        <img src="/img/404.png" width="600" alt="Not foud pic">
    </div>

<%- include('includes/end.ejs') %>