<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
        <div class="container">
            <h1>Hello, world!!!!!!!!!!!!!!!!!!</h1>
            <div class="row">
                <div class="card col-sm-3" style="width: 18rem">
                    <img
                        src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-128.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="test-center scard-title">Title</h5>
                        <h5 class="test-center scard-title">Price</h5>
                        <h5 class="test-center scard-title">Stock</h5>
                        <p class="test-center scard-text">
                            Description
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </p>
                    </div>
                </div>
                <div class="card col-sm-3" style="width: 18rem">
                    <img
                        src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-128.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="test-center scard-title">Title</h5>
                        <h5 class="test-center scard-title">Price</h5>
                        <h5 class="test-center scard-title">Stock</h5>
                        <p class="test-center scard-text">
                            Description
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </p>
                    </div>
                </div>
                <div class="card col-sm-3" style="width: 18rem">
                    <img
                        src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-128.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="test-center scard-title">Title</h5>
                        <h5 class="test-center scard-title">Price</h5>
                        <h5 class="test-center scard-title">Stock</h5>
                        <p class="test-center scard-text">
                            Description
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-sm-3" style="width: 18rem">
                    <img
                        src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-128.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="test-center scard-title">Title</h5>
                        <h5 class="test-center scard-title">Price</h5>
                        <h5 class="test-center scard-title">Stock</h5>
                        <p class="test-center scard-text">
                            Description
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </p>
                    </div>
                </div>
                <div class="card col-sm-3" style="width: 18rem">
                    <img
                        src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-128.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="test-center scard-title">Title</h5>
                        <h5 class="test-center scard-title">Price</h5>
                        <h5 class="test-center scard-title">Stock</h5>
                        <p class="test-center scard-text">
                            Description
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </p>
                    </div>
                </div>
                <div class="card col-sm-3" style="width: 18rem">
                    <img
                        src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-128.png"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="test-center scard-title">Title</h5>
                        <h5 class="test-center scard-title">Price</h5>
                        <h5 class="test-center scard-title">Stock</h5>
                        <p class="test-center scard-text">
                            Description
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>
